# === Виртуальное окружение ===
.venv/
venv/

# === Кэш Python ===
__pycache__/
*.pyc

# === Большие бинарные данные ===
data/*.npy

# === Служебные папки Jupyter ===
.ipynb_checkpoints/
models/*.joblib
